
body {
    background-color: #dde8f0; 

    font-family: 'Montserrat', sans-serif;
}
h2 {
    color: #343a40; 
    text-align: center;
    font-weight: 600;
}
.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
}
.card img {
    max-height: 420px; 
    object-fit: cover;
    border-radius: 10px 10px 0 0; 
}
.card-title {
    color: #007bff;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}
.payment-option.selected {
    border: 2px solid #007bff; 
}
.card-body {
    
    text-align: center;
}

.btn-custom {
    background-color: #007bff;
    color: rgb(73, 104, 255);
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.btn-custom:hover {
    background-color: #0056b3;
}

.custom-title {
color: #005089; 
font-weight: bold; 
text-transform: uppercase;
text-align: center; 
font-size: 28px; 
font-family: 'Montserrat', sans-serif;
padding-bottom: 10px; 
margin-bottom: 20px; 
}